 
<div class="container-fluid">
    <div class="row">

        <mat-card class="example-card" *ngFor="let post of postdata"  >
         
            
            <mat-card-content>
                <span style="font-weight:bold">Post:</span> {{post.id}}
            </mat-card-content>

            <mat-card-content>
                <span style="font-weight:bold">Title:</span> {{post.title}}
            </mat-card-content>

            <mat-card-content>
                <span style="font-weight:bold"> Details:</span> {{post.body}}
            </mat-card-content>
            <div> <span style="font-weight:bold"> Comments:</span></div>

            <mat-card-content *ngFor="let post of PostComment">
               <mat-card style="display: flex">
                         <div><img class="avatar" src="../../assets/man.png"></div>
                        <div class="commentBody"> 
                            <div> <strong>Name:</strong> {{post.name}}</div>
                            <div> <strong>Email:</strong> {{post.email}}</div>
                            <div><strong>Description:</strong> {{post.body}}</div>
                         </div>  
                    
                  
              </mat-card>
            </mat-card-content>


            <mat-card-actions>
                    <button class="btn" mat-flat-button color="primary" [routerLink]="['/']" >Back</button>
            </mat-card-actions>

        </mat-card>

    </div>


</div>